div#pages div.container section#timeline { background-color:#292929; }
	div#pages div.container section#timeline div#life { 
		position:absolute;
		width:100%; height:110px;
		top:50%; 
		margin-top:-55px; 
		box-shadow:inset 0 0 2px rgba(34, 34, 34, 1); background-color: #2D2D2D; }
	div#pages div.container section#timeline div#life div#chapters { 
		position:absolute;
		width:2000px; height:95%;
		left:0;
		background: #1e5799; /* Old browsers */
		background: -moz-linear-gradient(left,  #1e5799 0%, #fc2828 100%, #7db9e8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(100%,#fc2828), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #1e5799 0%,#fc2828 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #1e5799 0%,#fc2828 100%,#7db9e8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #1e5799 0%,#fc2828 100%,#7db9e8 100%); /* IE10+ */
		background: linear-gradient(to right,  #1e5799 0%,#fc2828 100%,#7db9e8 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */ }

